@model ChangePasswordDTO
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>
               تغيير كلمة المرور
            </h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form class="form-row row" id="frmEdit">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>كلمة المرور الحالية  </label>
                            <input type="password" asp-for="OldPassword" class="form-control" />
                            <span asp-validation-for="OldPassword"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label> كلمة المرور الجديدة</label>
                            <input type="password" asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label> تاكيد كلمة المرور الجديدة  </label>
                            <input type="password" asp-for="ConfirmNewPassword" class="form-control" data-val-equalto="كلمة المرور غير متطابقة" />
                            <span asp-validation-for="ConfirmNewPassword"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <button class="btn btn-primary" type="button" onclick="saveNewPass()">
                              حفظ
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

    function saveNewPass() {
        let frmEdit = $("#frmEdit");
        if (frmEdit.valid() == true) {
            $.post('@Url.GetAction("ChangeOldPassword")', frmEdit.serialize(), function (res) {
                if (res.status == true) {
                    alertify.success('@AppConstants.Messages.SavedSuccess');
                } else {
                    alertify.error('@AppConstants.Messages.SavedFailed')
                }
            });
        }
    }
    </script>
}