<!-- Resources -->
<script src="~/amcharts/core.js"></script>
<script src="~/amcharts/charts.js"></script>
<script src="~/amcharts/dark.js"></script>
<script src="~/amcharts/animated.js"></script>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="pie top row">


                    <div class="col-md-3">
                        <div class="pie-border">
                            <div class="dash-icon">
                                <span style="color:#4886F5" id="epdecCount">
                                    اجمالي المحطات
                                </span>
                                <i class="fas fa-globe-europe" style="background:#4886F5"></i>
                            </div>
                            <h4 id="hTotal"></h4>
                        </div>
                    </div>




                    <div class="col-md-3">
                        <div class="pie-border">
                            <div class="dash-icon">
                                <span style="color:#32D7ED" id="totalSales">
                                    قيد التقييم
                                </span>
                                <i class="fas fa-exchange-alt" style="background:#32D7ED"></i>
                            </div>
                            <h4 id="hTotalInProgress"></h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="pie-border">
                            <div class="dash-icon">
                                <span style="color: #e74c3c" id="damadgeCount">
                                    لم تُقيم
                                </span>
                                <i class="fas fa-times" style="background: #e74c3c"></i>
                            </div>
                            <h4 id="hNotStarted"> </h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="pie-border">
                            <div class="dash-icon">
                                <span style="color: #27ae60" id="totalReturn">
                                    المُقيمة
                                </span>
                                <i class="fas fa-check-circle" style="background: #27ae60"></i>
                            </div>
                            <h4 id="hTotalEnded"></h4>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>



<!-- HTML -->
<div class="card" style="padding:20px">

    <div class="row" id="divCities">





    </div>
</div>


