@{
    Layout = "_Layout";
}
@model UserDTO;
<partial name="_Style" />
<form>

    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>المستخدمين  </h4>
            </div>
        </div>
        <div class="col-sm-6 p-md-0 ">
            <button class="btn btn-primary pull-left" id="btnSave" type="submit">حفظ</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <input type="hidden" id="txtId" asp-for="ID" value="@Guid.NewGuid()" />
                        <div class="col-md-6">
                            <label>اسم المستخدم</label>
                            <input id="txtUserName" asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName"></span>
                        </div>
                        <div class="col-md-6">
                            <label>البريد الالكتروني</label>
                            <input id="txtEmail" asp-for="Email" class="form-control" />
                            <span asp-validation-for="UserName"></span>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>المدينة </label>
                            <select asp-for="CityId" asp-items="ViewBag.CityId" class="form-control select2"></select>
                            <span asp-validation-for="CityId"></span>
                        </div>
                        <div class="col-md-6">
                            <label>حالة المستخدم </label>
                            <label class="switch">
                                <input id="chkIsActive" asp-for="IsActive" type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
    
</form>
<partial name="_DataTable" />
@section Scripts
{

    <partial name="_Scripts" />
}
