<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <table id="tbl" class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th> المستخدم</th>
                                <th>المحطة </th>
                                <th>وقت الاضافة</th>

                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th> المستخدم</th>
                                <th>المحطة </th>
                                <th>وقت الاضافة</th>

                                <th>
                                </th>
                            </tr>
                        </tfoot>
                        <tbody>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
