@{
    Layout = "_Layout";
}
@model ManualDistributionDTO;
<partial name="_Style" />
<form>

    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>التوزيع اليدوي  </h4>
            </div>
        </div>
        <div class="col-sm-6 p-md-0 ">
            <button class="btn btn-primary pull-left" id="btnSave" type="submit">حفظ</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <input type="hidden" id="txtId" asp-for="ID" value="@Guid.NewGuid()" />

                    <div class="row">
                        <div class="col-md-4">
                            <label>المدينة </label>
                            <select id="ddlCities" onchange="LoadDistricts($(this).val())" class="form-control select2"></select>
                        </div>
                        <div class="col-md-4">
                            <label>الحي </label>
                            <select id="ddlDistricts" onchange="LoadStations($(this).val())" class="form-control select2"></select>
                        </div>
                        <div class="col-md-4">
                            <label>المستخدم </label>
                            <select asp-for="UserId" class="form-control select2"></select>
                            <span asp-validation-for="UserId"></span>

                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label> المحطة</label>
                            <select multiple="" asp-for="StationId" name="StationId"  class="form-control select2"></select>
                            <span asp-validation-for="StationId"></span>
                            <button class="btn btn-info" style="margin-top: 9px;" type="button" SelectAll="true" id="btnSelectAll" onclick="SelectAllStation()">تحديد الكل</button>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
    
</form>
<partial name="_DataTable" />
@section Scripts
{

    <partial name="_Scripts" />
}
